* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

#stories {
  display: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

#stories img {
    width: 100%;
}

#stories {
  list-style: none;
}

#stories a {
  position: relative;
  width: 100vw;  
  @include tablet {
    width: 50%;   
    flex: 0 1 50%;
  }
  @include desktop {
    width: 25%;
    flex: 0 1 25%;      
  }  
}

.loader {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 0 auto;
  display: none;
  width: 5vw;
}

.news-container {
  display: flex;    
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;  
  background-position: center 25%;
  height: 400px;    
  p {
    height: auto;
    position: absolute;
    color: $color__white;
    text-align: left;    
    background-repeat: no-repeat;    
    background-color: rgba($color__black, 0.6);
    width: 100%;    
    bottom: 0;
    padding: 1em .5em;      
  }
}