.screen-reader {
  overflow: hidden;  
  width: 1px;
  height: 1px;
}

.header {
  transition: .5s;
}

header * {
  transition: .5s;
}

.header-content{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;  
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 90vh;
  padding: 2em;
  @include tablet {
    flex-direction: row;
    justify-content: center;
    
  @include desktop {
    justify-content: flex-start;   
  }    
  }
}

.search-form {
  display: flex;
  justify-content: center;
  @include tablet {
    width: 25%;
  }    
}

.search-form-inner p {
  padding-bottom: 1em;
}

.logo {
  text-align: center;  
  margin-bottom: 1rem;
  img {
    @include tablet {
      width: 100%;    
    }
  }
}

.new-layout {
  height: auto;
  justify-content: flex-start;
  .logo {
    flex-direction: column;
    @include tablet {
      .resize-logo{
        justify-content: flex-start;         
        width: 40%;
        @include desktop {
          .resize-logo{
            text-align: start; 
            width: 30%;               
            height: auto; 
            padding: 0;
            margin-right: -80px;
          }
        }
      }
    }
  }  
}
